.appbar {
  background-color: #F5F5DC;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  height: 90px; 
  margin-right: 10px;
}

.drawer-logo {
  height: 70px;
  margin: 10px auto;
}

.title {
  color: #8B0000; 
  text-decoration: none;
  font-weight: bold;
}

.menu-section {
  display: flex;
  align-items: center;
    font-weight: bold;

}

.menu-section .MuiButton-root {
  color: #8B0000; 
}

.menu-section .MuiButton-root:hover {
  background-color: #FF8C00;
}

.menu-section .MuiIconButton-root {
  margin-left: 10px;
}

.drawer-logo {
  height: 70px;
  margin: 10px auto;
}

.MuiDrawer-paper {
  background-color: #FFFFFF; 
}

.ListItemText-primary {
  color: #000000; 
}
