.appbar {
  background-color: #F5F5DC; /* Color principal (Beige claro) */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para un efecto de elevación */
  padding: 20px 0; /* Aumenta el grosor de la barra de navegación */
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 70px; /* Aumenta el tamaño del logo */
  margin-right: 10px;
}

.drawer-logo {
  height: 70px; /* Aumenta el tamaño del logo en el drawer */
  margin: 10px auto;
}

.title {
  color: #8B0000; /* Color del texto */
  text-decoration: none;
  font-weight: bold;
}

.menu-section {
  display: flex;
  align-items: center;
    font-weight: bold;

}

.menu-section .MuiButton-root {
  color: #8B0000; /* Color del texto */
}

.menu-section .MuiButton-root:hover {
  background-color: #FF8C00; /* Color al pasar el cursor (Naranja de las llamas) */
}

.menu-section .MuiIconButton-root {
  margin-left: 10px;
}

.drawer-logo {
  height: 70px;
  margin: 10px auto;
}

.MuiDrawer-paper {
  background-color: #FFFFFF; /* Fondo del Drawer */
}

.ListItemText-primary {
  color: #000000; /* Color del texto en el Drawer */
}
