.text-justify {
  text-align: justify;
}

.bdy{
  width:85%;
  margin: 0 auto;
  
  padding: 0rem;
  text-align: center;
}

.bdy2{

  max-width: 60%;
  position: relative;
  margin-left: 30%;
}

.bdy3{
  width:85%;
  margin: 0 auto;
  max-width: 40%;
  margin-right: 20%;
}
.bdy4{
  top:0%;
  max-width: 40%;
  position: relative;
  margin-right: 20%;
}
.cont{
  width:80%;
  margin: 0 auto;

  padding: 0rem;
  text-align: center;
}


.homepage-container {
  display: flex;
}
.translate-middle-y {
  transform: translateY(-40%)!important;
}

.start-0 {
  left: 10%;
}

.toolbox {
  display: block;
  flex-direction: column;
  width: 17%;
  left: 270px;
  height: 45.9%;
  top: 38%;
  transform: translateY(100%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0 0 2px rgb(190, 190, 190), 0.3em 0.3em 1em rgba(0,0,0,0.3);
}


.date-section,
.layer-section {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.date-section > label,
.date-section > input,
.layer-section > label,
.layer-section > select {
  margin-right: 10px;
}


.map-wrapper {
  flex: 3;
}


#root {
  width: 90%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}
/* En tu archivo CSS */
.h2-style {
  color: tuColorParaH2;
}

.p-style {
  color: tuColorParaP;
}

.logo {
  position: absolute;
  top: 0;
  left: revert;
  width: 7rem;
  height: auto;  /* Esto mantiene la proporción del logo */
  display: block;
  margin: 0 auto;  /* Centra el logo horizontalmente */
  }
  /* Si la pantalla tiene menos de 600px de ancho, ajusta el tamaño del logo */
@media (max-width: 600px) {
  .logo {
    width: 100px;
  }
}

/* Si la pantalla tiene menos de 400px de ancho, ajusta aún más el tamaño del logo */
@media (max-width: 400px) {
  .logo {
    width: 50px;
  }
}
.my-title {
  margin-bottom: 60px;
  position: absolute;
  font-size: 2em; /* Tamaño inicial, ajústalo a tu gusto */
  text-align: center; /* Centra el texto horizontalmente */
}
/* Para pantallas medianas */
@media (max-width: 768px) {
  .my-title {
    font-size: 1.5em; /* Tamaño de fuente más pequeño para pantallas medianas */
  }
}

/* Para pantallas pequeñas */
@media (max-width: 576px) {
  .my-title {
    font-size: 1.2em; /* Tamaño de fuente aún más pequeño para pantallas pequeñas */
  }
}


.mapa-container {
  position: relative;
}

.border {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
}

.p-4 border rounded{
  position: inherit;
  width: 500px;
  height: 300px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .fa-barFs,
.navbar-scroll .navar-brand {
  color: #4f4f4f;
}

.navbar-scroll .nav-link:hover {
  color: #1266f1;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars,
.navbar-scrolled .navar-brand {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

body {
  background-color: #eee;
}

html,
body,
#map,
.map {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
}

#gear {
  display: none;
  float: right;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

#map {
  height: calc(50vh);
  width: 100%;
}



/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-item {
  max-width: 100%;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px;
  /* Space for fixed navbar */
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: 100%;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
  max-width: unset;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

/*
 * Form
 */
.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

@media only screen and (max-width: 1036px) and (min-width: 991px) {
  .sidebar-heading {
    font-size: 0.7rem;
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 768px) {
  #gear {
    display: block;
    color: white;
    margin-right: 10px;
    cursor: pointer;
  }

  a.navbar-brand {
    width: unset;
  }
}
.my-title {
  font-size: 34px;  /* Default size for larger screens */
}

@media (max-width: 600px) {
  .my-title {
    font-size: 20px;  /* Adjusted size for medium screens */
  }
}

@media (max-width: 400px) {
  .my-title {
    font-size: 16px;  /* Adjusted size for smaller screens */
  }
}

