

html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}


.text-justify {
  text-align: justify;
}



#section-platform {
  background-color: #85CBA1;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  top: 70px;

}
#section-support {
  background-color: #fdfdfd;
  text-align: center;
  color: #333;
  font-weight: bold;
}
.support-list {
  max-width: 900px;
  margin: 0 auto 30px;
  text-align: center;
}
.custom-img-style{
  filter: drop-shadow(
  0 0 10px rgba(0,0,0,.8))

}

.section {
  width: 100%;
  padding: 80px 0 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.text-info {
  color: red; 
}



.arrow-button {
  position: relative;
  background-color: transparent;
  border: 2px;
  font-size: 40px;
  cursor: pointer;
  color: azure;
  cursor: pointer;
}

.arrow-button:first-child {
  left: 10px;
}

.arrow-button:last-child {
  right: 10px;
}



.bdy2{

  width: 60%;
  position: relative;
  margin-left: 30%;
}

.bdy3{
  width:85%;
  margin: 0 auto;
  max-width: 40%;
  margin-right: 20%;
}
.bdy4{
  top:0%;
  max-width: 40%;
  position: relative;
  margin-right: 20%;
}
.cont{
  width:90%;
  margin: 0 auto;

  padding: 0rem;
  text-align: center;
}

.navbar-content {
  justify-content: center;
}



.homepage-container {
  display: flex;
}
.translate-middle-y {
  transform: translateY(-40%)!important;
}

.start-0 {
  left: 10%;
}


.toolbox {
  z-index:1;
  left: 220px;
  width: 50%;
  height: 46%;
  font-size: 16px;
  color: #333;
  text-align: center;
}
.contenedor{
  top: 0px;
  display: flex;

}
.section-title {
  padding: 10px; 
}
.checkbox-container {
  display: flex;
  align-items: center; 
  margin-bottom: 10px;
  margin-left: 30px; 
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px; 
}




.toolbox:hover {
  background-color: #eaeaea94;
  transition: background-color 0.3s;
}
.date-section,
.layer-section {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.date-section > label,
.date-section > input,
.layer-section > label,
.layer-section > select {
  margin-right: 10px;
}


.map-wrapper {
  flex: 3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}


.p-style {
  color: tuColorParaP;
}
.contenedor-imagen {
  position: relative;
  overflow: hidden;

}

.contenedor-imagen img {
  width: 100%; 
  height: auto; 
}

@media (max-width: 768px){
  .p2 {
    position: absolute;
    width: 10%;       
    margin: auto;   
    font-size: 0.5em; /* Default font size */
    text-align: justify;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    width: 400px;
      color: white; /* Color del texto */
      text-shadow: 
          -1px -1px 0 #000,  
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000; /* Contorno negro */
          
  
  }
  
}



.responsive-text {
  font-size: 1.2vw; 
}

@media (max-width: 768px) {
  .responsive-text {
    font-size: 3.2vw; 
  }
}


.mapa-container {
  position: relative;
  z-index: 1;

}
.contenedor {
  position: relative;
}

.layer-selector {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}


.border {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
}

.p-4 border rounded{
  position: inherit;
  width: 500px;
  height: 300px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}

.custom-class{
    margin-block: auto;
}
.navbar-scroll .nav-link:hover {
  color: #1266f1;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars,
.navbar-scrolled .navar-brand {
  color: #4f4f4f;
}

.navbar-scroll,
.navbar-scrolled {
  background-color: #fff;
}

.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}


#map {
  height: calc(50vh);
  width: 100%;
}


.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-item {
  max-width: 100%;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}




.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}


[role="main"] {
  padding-top: 48px;
  /* Space for fixed navbar */
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: 100%;
}





@media only screen and (max-width: 1036px) and (min-width: 991px) {
  .sidebar-heading {
    font-size: 0.7rem;
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 768px) {
  #gear {
    display: block;
    color: white;
    margin-right: 10px;
    cursor: pointer;
  }

  a.navbar-brand {
    width: unset;
  }
}


@media (max-width: 600px) {
  .my-title {
    font-size: 25px;
    margin: 0;  /* Adjusted size for medium screens */
  }
}

@media (max-width: 400px) {
  .my-title {
    font-size: 16px; 
  }
}




.card {
  position: relative;
  width: 220px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(7, 7, 7, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
  cursor: pointer;
}

.city {
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 1.2px;
  color: white;
}

.weather {
  font-weight: 500;
  font-size: 0.7em;
  letter-spacing: 1.2px;
  color: rgb(197, 197, 197);
}

.temp {
  font-size: 1.8em;
  color: white;
}

.minmaxContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.min,
.max {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 20px;
  gap: 4px;
}

.max {
  align-items: flex-start;
  border-left: 2px solid white;
}

.maxHeading,
.minHeading {
  font-size: 0.7em;
  font-weight: 600;
  color: white;
}

.minTemp {
  font-size: 0.6em;
  font-weight: 500;
  color: rgb(197, 197, 197);
}



