h1 {
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  max-width: 450px;
  margin: auto;
  margin-bottom: 0;
  position: sticky;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mapa-container {
  position: relative;
}



html,
body {
  min-height: 100%;
  width: 100%;
}


body {
  padding: 0;
  margin: 0;
}

/* En tu archivo CSS */
.h2-style {
  color:#eee;
}

.p-style {
  color:aliceblue;
}



.App {
  background: linear-gradient(rgba(117, 185, 185, 0.3), rgba(20,20,20, .9)), url('./images/fondo.jpg');
  background-color: gainsboro;
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.layout .btn {
  position: relative;
  top: 25px; 
  left: 700px;
  right: 1px;
}


/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scroll .navar-brand {
  color: #4f4f4f;
}

.navbar-scroll .nav-link:hover {
  color: hsla(0, 0%, 100%, 0);
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars,
.navbar-scrolled .navar-brand {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #fff;
}

.navbar-collapse {
  flex-basis: 100%;
  align-items: center;
}

/* An optional height of the navbar AFTER scroll */
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
}

body {
  background-color: #eee;
}
.map-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.glitch {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
  animation: shift 1s ease-in-out infinite alternate;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #8b00ff;
  z-index: -1;
}

.glitch:after {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #00e571;
  z-index: -2;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 3px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  60% {
    transform: translate(3px, 3px);
  }

  80% {
    transform: translate(3px, -3px);
  }

  to {
    transform: translate(0);
  }
}

@keyframes shift {
  0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
    transform: skewX(0deg);
  }

  41% {
    transform: skewX(10deg);
  }

  42% {
    transform: skewX(-10deg);
  }

  59% {
    transform: skewX(40deg) skewY(10deg);
  }

  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }

  63% {
    transform: skewX(10deg) skewY(-5deg);
  }

  70% {
    transform: skewX(-50deg) skewY(-20deg);
  }

  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}


