h1 {
  color: #00650C !important;
  font-weight: bolder;
  text-decoration:  none !important;
  margin: 0;
  max-width: 450px;
  margin: auto;
  margin-bottom: 0;
  position: sticky;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1:hover {
  color: #69ab4f !important; 
}
h1 a {
  text-align: center;

  color: inherit !important;
  font-weight:700;
  text-decoration: none;}
.mapa-container {
  position: relative;
}


html,
body {
  min-height: 100%;
  width: 100%;
}


body {
  padding: 0;
  margin: 0;
}

/* En tu archivo CSS */
.h2-style {
  color:#eee;
}

.p-style {
  color:aliceblue;
}



.App {
  background: linear-gradient(rgba(117, 185, 185, 0.3), rgba(20,20,20, .9)), url('./assets/images/fondo.png');
  background-color: gainsboro;
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;

  background-attachment: fixed;
  width: 100%;
}
.layout .btn {
  position: relative;
  top: 25px; 
  left: 700px;
  right: 1px;
}


.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scroll .navar-brand {
  color: #4f4f4f;
}

.navbar-scroll .nav-link:hover {
  color: hsla(0, 0%, 100%, 0);
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars,
.navbar-scrolled .navar-brand {
  color: #4f4f4f;
}

.navbar-scroll,
.navbar-scrolled {
  background-color: #fff;
}

.navbar-collapse {
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
}

/* An optional height of the navbar AFTER scroll */
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #eee;
}
.map-container {
  position: relative;
  top: 0%;
  right: 0;
  transform: translateY(-0%);
}
.glitch {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
  animation: shift 1s ease-in-out infinite alternate;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #8b00ff;
  z-index: -1;
}

.glitch:after {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #00e571;
  z-index: -2;
}



